{% load static %}

<!-- CAROUSEL -->
<div class="container mt-3">
    <div class="d-flex justify-content-center">
      <h1>Trending</h1>
    </div>
    <div id="trendingPosts" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#trendingPosts" data-slide-to="0" class="active"></li>
        <li data-target="#trendingPosts" data-slide-to="1"></li>
        <li data-target="#trendingPosts" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" style="height: 350px;">
        {% for post in treanding_posts %}
            {% if forloop.counter == 1 %}
              <div class="carousel-item active">
            {% else %}
              <div class="carousel-item">
            {% endif %}
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-6">
                <img src="{{ post.cover_pic.url }}" style="height: 300px;" alt="" class="img-fluid rounded-lg">
              </div>
              <div class="col-lg-8 col-md-8 col-sm-10 mb-3">
                <h4><a href="{% url 'post' post.slug %}">{{post.title}}</a></h4>
                <p><a href="{% url 'post_category' post.category.slug %}">{{post.category}}</a><span class="text-muted ml-2">{{ post.updated_at|date:"D d M Y" }}</span></p>
                {% if post.content|wordcount > 70 %}
                    <p>{{ post.content|safe|truncatewords_html:50 }}</p>
                    <a href="{% url 'post' post.slug %}" class="text-muted">Read more</a>
                {% else %}
                    <p>{{ post.content|safe|truncatewords_html:50 }}</p>
                {% endif %}
                <div class="d-flex">
                  <div>
                    <img src="{{ post.author.profile.profile_pic.url }}" alt="" class="img-fluid rounded-circle" style="height: 7vh;">
                  </div>
                  <div class="ml-2">
                    <h3>{{post.author.get_full_name|title}}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>